/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./src/components/ManufactureDashboard/styles.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --sidebar-bg: #04321a;
  --sidebar-active: #004d2b;
}

.bg-sidebar {
  background-color: var(--sidebar-bg);
}

.bg-sidebar-active {
  background-color: var(--sidebar-active);
}

html {
  font-family: 'Inter', sans-serif;
}

