:root {
  --sidebar-bg: #04321a;
  --sidebar-active: #004d2b;
}

.bg-sidebar {
  background-color: var(--sidebar-bg);
}

.bg-sidebar-active {
  background-color: var(--sidebar-active);
}

html {
  font-family: 'Inter', sans-serif;
}
